body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button {
    &--normal,
    &--add,
    &--delete {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 14px;
        margin-right: 15px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    &--normal {
        background-color: white;
        border: 1px solid $color-font;
        color: $color-font;
        &:active {
            background-color: lightgrey;
        }
    }
    &--add {
        background-color: $color-blue;
        border: 1px solid $color-lightblue;
        color: white;
        &:active {
            background-color: $color-lightblue;
        }
    }
    &--delete {
        background-color: $color-red;
        border: 1px solid $color-font;
        color: white;
        &:active {
            background-color: lightcoral;
        }
    }
}