$color-blue: rgb(67, 122, 178);
$color-lightblue: rgb(180, 194, 213);
$color-red: rgb(202, 91, 84);
$color-lime: rgb(227, 239, 218);
$color-green: rgb(76, 118, 87);
$color-list: rgb(245, 245, 245);
$color-font: #333;